.prdct_container
{
    height: 1400px;
    background-color: azure;
    margin: 0px 80px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.prdct_main
{
    border: 2px solid red;
    height: 1400px;
    margin: 25px 80px;
}
#prdct_h2
{
    text-align: center;
    padding-top: 100px;
    font-size: xx-large;
    margin: 0;
}