.banner2_div
{
    background-color: #121212;
    height: 140px;
    
}
.banner2_flex
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner2_img
{
    width: 80px;
}
.banner2_a
{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    text-decoration: none;
    color: aliceblue;
    align-items: center;
}